<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>body</key>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>contacts</key>
				<array>
					<dict>
						<key>active_time</key>
						<string>12:50</string>
						<key>describe</key>
						<string>[WIFI在线] 欢迎给我留言</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>5848ead4d9e8d7b31172a285</string>
						<key>name</key>
						<string>张三</string>
					</dict>
					<dict>
						<key>active_time</key>
						<string>08:20</string>
						<key>describe</key>
						<string>[手机在线] 更新了日志</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>a243e23848ea43fddfs347b1</string>
						<key>name</key>
						<string>李四</string>
					</dict>
					<dict>
						<key>active_time</key>
						<string>星期三</string>
						<key>describe</key>
						<string>[4G在线] 更新了说说</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>fsdfre522a43fddfs337b1</string>
						<key>name</key>
						<string>王五</string>
					</dict>
				</array>
				<key>group_id</key>
				<string>35ea5621962baa0e2b3dca2d4</string>
				<key>group_name</key>
				<string>未分组</string>
				<key>group_type</key>
				<string>1</string>
				<key>member_num</key>
				<string>3</string>
			</dict>
			<dict>
				<key>contacts</key>
				<array>
					<dict>
						<key>active_time</key>
						<string>昨天</string>
						<key>describe</key>
						<string>[电脑在线] 好好学习，天天向上</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>e323e65842ea43fd3sde367e4</string>
						<key>name</key>
						<string>小明</string>
					</dict>
					<dict>
						<key>active_time</key>
						<string>2017/2/22</string>
						<key>describe</key>
						<string>[离线请留言] 哥是最牛逼的产品经理</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>dwedwe3242cdw43fd3s3227e4</string>
						<key>name</key>
						<string>张小龙</string>
					</dict>
				</array>
				<key>group_id</key>
				<string>80adasdas092dee232b74ca232</string>
				<key>group_name</key>
				<string>高中同学</string>
				<key>group_type</key>
				<string>2</string>
				<key>member_num</key>
				<string>2</string>
			</dict>
			<dict>
				<key>contacts</key>
				<array>
					<dict>
						<key>active_time</key>
						<string>2017/2/22</string>
						<key>describe</key>
						<string>[离线] 把产品做到极致</string>
						<key>head_img</key>
						<string>default.png</string>
						<key>id</key>
						<string>2dd4ddf65842dsd323d44fscsa21</string>
						<key>name</key>
						<string>乔布斯</string>
					</dict>
				</array>
				<key>group_id</key>
				<string>dwe2357ec923e0e2b23a47</string>
				<key>group_name</key>
				<string>大学同学</string>
				<key>group_type</key>
				<string>2</string>
				<key>member_num</key>
				<string>1</string>
			</dict>
			<dict>
				<key>group_id</key>
				<string>58ae5800963bee0e2b74ca48</string>
				<key>group_name</key>
				<string>同事</string>
				<key>group_type</key>
				<string>2</string>
				<key>member_num</key>
				<string>0</string>
			</dict>
			<dict>
				<key>group_id</key>
				<string>fdsds3233463bee0e2eeweffw</string>
				<key>group_name</key>
				<string>黑名单</string>
				<key>group_type</key>
				<string>2</string>
				<key>member_num</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<key>head</key>
	<dict>
		<key>code</key>
		<string>1000</string>
		<key>ret_code</key>
		<string>0</string>
	</dict>
</dict>
</plist>
