<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>我对你的爱像十个手指头，十全十美。</string>
		<key>time</key>
		<string>12.11</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>我对你的爱你像第十一根手指头，绝对没有</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>你现在就让我后悔,当初怎么看上了你！</string>
		<key>time</key>
		<string>12.12</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>好吧,亲爱的，为了证明我是超爱你的,你喜欢什么花，我送给你。</string>
		<key>time</key>
		<string>12.13</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>我知道你特别喜欢花,所以我今天要一定要满足你这个小小的要求！</string>
		<key>time</key>
		<string>12.14</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>真的啊,好啊,我喜欢印花,钞票上的印花,数量嘛,只要用袋子装满就可以了！</string>
		<key>time</key>
		<string>12.15</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>好了,你就不要刁难我了,要不,从明天起，我来做饭,这个最实际的啦！</string>
		<key>time</key>
		<string>12.17</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>好啊好啊,但是以我的经验来看,你现在必须先学会做一件事。</string>
		<key>time</key>
		<string>12.20</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>那就是你一定要记住火警和急救医院的号码，当然了,你的防火意识一定要非常强。</string>
		<key>time</key>
		<string>12.20</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>好了,这个我知道了,不说这个了。哦.对了，为什么你能看帅哥，我就不能欣赏美女？</string>
		<key>time</key>
		<string>12.25</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>girl</string>
		<key>desc</key>
		<string>既然你都这样问了,我就如实的告诉你吧,我欣赏帅哥叫观赏美好的事物，而你那是满足心中龌龊的思想。</string>
		<key>time</key>
		<string>12.27</string>
		<key>person</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>有你这样打击人得嘛,哎,不愧是女友啊！</string>
		<key>time</key>
		<string>12.32</string>
		<key>person</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>boy</string>
		<key>desc</key>
		<string>算了,说不过你,咱们洗洗就睡了把！</string>
		<key>time</key>
		<string>12.32</string>
		<key>person</key>
		<true/>
	</dict>
</array>
</plist>
